.page{
    font-family: Inter, Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header{

    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/background_header.svg");
    background-size: cover;
    background-position: center;
}

.header__image{
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.nav__logo{
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links{
display: flex;
padding: 0;
margin: 0;
list-style-type: none;
gap: 20px;
color: #000;
font-family: "inter";
font-style: normal;
font-weight:  500;
font-size: 16px;
line-height: 20px;
}

.nav__link{
  color: #000;
  text-decoration: none;
}

.header__title{
  font-family: "Inter";
  font-style: normal;
 max-width: 729px;
 font-size: 60px;
 line-height: 70px;
 margin: 183px 0 0;
 letter-spacing: -0.6px;
 font-weight: 500;
 z-index: 2;
}

.header__description{
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  z-index: 2;
  font-weight: normal;
  font-style: normal;
  font-family: " Noto Serif";
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.header__footer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: Inter;
  font-style: normal;
  flex-wrap: 500;
  font-size: 16px;
  line-height: 20PX;
  color: #838383;
}
.header__paragraph{
  margin: 0;
}

.recipes{
  background-image: url(../images/background_recipes.svg);
background-color: #0a2750;
position: center;
color: #ffffff;
padding: 100px 80px 215px;
}
.recipes__title{
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
font-family: "Noto Serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}

.recipes__videos{
  display: flex;
  margin-top: 80px;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  font-family: "Inter";
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 30px;
}

.recipes__iframe{
  width: 480px;
  height: 273px;
}


.recipes__videos.caption{
  display: flex;
  justify-content: space-between;
}